[submodule "OrderTypes-Biller"]
	path = OrderTypes-Biller
	url = https://github.com/LastElb/OrderTypes-Biller.git
[submodule "Import-Biller"]
	path = Import-Biller
	url = https://github.com/LastElb/Import-Biller.git
[submodule "Biller.Controls"]
	path = Biller.Controls
	url = git@github.com:LastElb/Biller.Controls.git
[submodule "Biller.Core"]
	path = Biller.Core
	url = git@github.com:LastElb/Biller.Core.git
[submodule "XDatabase-Biller"]
	path = XDatabase@Biller
	url = git@github.com:LastElb/XDatabase-Biller.git
